.cards {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  transition: top 1.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  background: white;
  top: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 50px;
}

.cards.visible {
  top:0;
}

.cards .cardsTitle {
  font-size: 2em;
  font-weight: 600;
  font-style: bold;
  font-weight: bold;
  margin: 20px;
  border-bottom: 2px solid black;
}
.card {
  max-width: 700px;
  width: 85%;
  margin: 15px auto;
  box-shadow: 3px 3px 9px -1px rgba(0,0,0,0.61);
}
.card .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  max-height: 300px;
}
.card .image img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.card .container {
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
  text-align: left;
  width: 100%;
  padding-top: 30px;
  z-index: 19;
}

.card .container div {
  margin: 5px 10px;
}

.card .title {
  font-size: 1.2em;
  text-transform: uppercase;
}

.card .ingredient {
  color: rgba(255,255,255,0.8)
}

.card .recipeDirectionBtn {
  margin: 20px auto !important;
}
.card .recipeDirectionBtn span {
  margin: 10px;
  padding: 10px;
  padding-top: 6px;
  background: #52BE80;
  color: white;
  cursor: pointer;
}

.card .recipeDirectionBtn span:hover {
  background: #229954;
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  background: rgba(16,16,16,0.9);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  overflow-x: scroll; /* has to be scroll, not auto */
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  color: #444;
}

.recipe.visible {
  opacity: 1;
  top: 0;
  z-index: 20;
}

.recipe .closeBtn {
  text-align: right;
  width: 100%;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding: 10px 0;
}

.recipe .closeBtn span {
  color: #999;
  padding: 20px;
  cursor: pointer;
}

.recipe .closeBtn span:hover {
  color: white;
}

.recipe .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  max-height: 300px;
}
.recipe .image img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.recipe .container {
  margin: 20px;
  background: #fff;
}

.recipe .title1 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #674172;
}

.recipe .title2 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.recipe .introduction {
  text-align: left;
  line-height: 1.5em;
  margin: 20px 0;
}

.recipe .ingredient-full {
  text-align: left;
}

.recipe .ingredient-full .title {
  font-weight: 500;
  margin: 10px;
}
.recipe .ingredient-full > div > div {
  margin: 10px;
}

.recipe .textContainer {
  margin: 20px;
}

.recipe .descriptions {
  text-align: left;
  margin: 20px 10px;
}

.recipe .descriptions .title {
  margin-bottom: 10px;
  font-weight: 500;
}

.recipe .descriptions .step, .recipe .ingredient-item {
  display: flex;
  flex-direction: row;
  margin: 10px;
  line-height: 1.5em;
}
.recipe .descriptions .step-number, .recipe .ingredient-item .bullet{
  margin-right: 10px;
  color: #BE90D4;
}

.recipe .source {
  margin: 20px;
  margin-top: 40px;
  text-align: right;
  color: #888;
}
