.recipes {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  opacity: 0;
  transition: top 1.5s cubic-bezier(0.5, -0.5, 0.5, 1.5), opacity 1s ease-in-out;
  background: white;
  top: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.recipes.visible {
  opacity: 1;
  top:0;
}

.recipes .recipesTitle {
  font-size: 2em;
  font-weight: 600;
  font-style: bold;
  font-weight: bold;
  margin: 20px;
  border-bottom: 2px solid black;
}
.recipe {
  max-width: 700px;
  width: 85%;
  margin: 15px auto;
  box-shadow: 3px 3px 9px -1px rgba(0,0,0,0.61);
}
.recipe .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 300px;
}
.recipe .image img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.recipe .container {
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
  text-align: left;
  width: 100%;
  padding-top: 120px;
}

.recipe .container div {
  margin: 5px 10px;
}

.recipe .title {
  font-size: 1.2em;
  text-transform: uppercase;
}

.recipe .ingredient {
  color: rgba(255,255,255,0.8)
}

.recipe .recipeDirectionBtn {
  margin: 20px auto !important;
}
.recipe .recipeDirectionBtn span {
  margin: 10px;
  padding: 10px;
  padding-top: 6px;
  background: #52BE80;
  color: white;
  cursor: pointer;
}

.recipe .recipeDirectionBtn span:hover {
  background: #229954;
}
