.balloon > div {
  top: -800px;
  width: 100px;
  margin: 50px auto;
  position: relative;
}

.balloon div div:first-of-type {
	border-radius:80%;
	width: 60px;
	height: 72px;
	margin-top: 30px;
	-webkit-transform: translate(0, 2000px) rotate(-50deg);
	-webkit-transition: 15s cubic-bezier(.65, 2, .0, .32);
  transform: translate(0, 2000px) rotate(-50deg);
	transition: 15s cubic-bezier(.65, 2, .0, .32);
  box-shadow: inset -10px -10px 0 rgba(0,0,0,0.07);
	z-index: 4;
	position: relative;
}

.balloon div div:before {
  content:"▲";
  font-size:12px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

.balloon div div.blue:first-of-type {
  background: hsl(215,50%,65%);
}
.balloon div div.blue:before {
  color:hsl(215,30%,50%);
}

.balloon div div.purple:first-of-type {
  background: hsl(245,40%,65%);
}
.balloon div div.purple:before {
  color:hsl(245,40%,65%);
}

.balloon div div.yellow:first-of-type {
  background: hsl(59,50%,58%);
}
.balloon div div.yellow:before {
  color:hsl(59,30%,52%);
}

.balloon div div.orange:first-of-type {
  background: hsl(23,55%,57%);
}
.balloon div div.orange:before {
  color:hsl(23,44%,46%);
}

.balloon div div.green:first-of-type {
  background: hsl(139,50%,60%);
}
.balloon div div.green:before {
  color:hsl(139,30%,50%);
}

.balloon div div.float:first-of-type {
	-webkit-transition: 15s cubic-bezier(.65, 2, .03, .52);
	-webkit-transform: translate(0) rotate(0deg);
}
